$background-color: #112e42;
$content-background-color: #1a3a53;
$text-color: #ffffff;
$highlight-color: #00abf0;
$input-border-color: rgba(123, 123, 123, 0.6);
$button-hover-color: #00abf0;
$text-font: "Roboto";

.contact {
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;

  > main {
    background-color: $content-background-color;
    height: 30rem;
    width: 70%;
    padding: 3rem;
    border-radius: 0 200px 200px 0;
    color: $text-color;

    > form {
      margin: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > div {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
        margin: 0.5rem;

        > label {
          font: 400 1.2rem $text-font;
          width: 20%;
          margin: 0 1rem;
          color: $text-color;
        }

        > input {
          align-self: stretch;
          width: 80%;
          padding: 1rem;
          border-radius: 5px;
          border: 1px solid $input-border-color;
          outline: auto;
          background-color: $content-background-color;
          color: $text-color;
        }
      }

      > button {
        margin: 3rem 0;
        padding: 0.7rem;
        border: none;
        border-radius: 5px;
        background-color: $highlight-color;
        color: $background-color;
        width: 200px;
        font: 500 1rem $text-font;

        &:hover {
          background-color: $button-hover-color;
          filter: opacity(0.8);
        }
      }
    }
  }
}